In [1]:
import pandas as pd

DATA_ARCHIVE_NAME = 'noticias.csv'

df = pd.read_csv(DATA_ARCHIVE_NAME)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   categoria    1000 non-null   object
 1   title        1000 non-null   object
 2   link         1000 non-null   object
 3   description  998 non-null    object
dtypes: object(4)
memory usage: 31.4+ KB

In [3]:
df.head()

,categoria,title,link,description
0,economia,"Mega-Sena, concurso 2.896: prêmio acumula e va...",https://g1.globo.com/loterias/mega-sena/notici...,O sorteio do concurso 2.896 da Mega-Sena foi r...
1,economia,Preço da carne de porco perde competitividade ...,https://g1.globo.com/sp/piracicaba-regiao/noti...,"Em fevereiro, o preço da carcaça suína registr..."
2,economia,Trump demite autoridade trabalhista dos EUA po...,https://g1.globo.com/economia/noticia/2025/08/...,Trump demite autoridade trabalhista dos EUA po...
3,economia,"Após caso Master, governo aperta regras do Fun...",https://g1.globo.com/economia/noticia/2025/08/...,O governo federal decidiu endurecer as regras ...
4,economia,Agência de mineração cria divisão de minerais ...,https://g1.globo.com/economia/noticia/2025/08/...,A Agência Nacional de Mineração (ANM) anunciou...

In [4]:
df['categoria'].value_counts()

categoria
economia         100
saude            100
educacao         100
mundo            100
politica         100
meio ambiente    100
pop-arte         100
tecnologia       100
turismo          100
curiosidades     100
Name: count, dtype: int64

In [6]:
no_description_news = df[df['description'].isnull()]

print("Notícias encontradas sem descricao: ")
print(no_description_news)

Notícias encontradas sem descricao:
    categoria                                              title  \
143     saude                             VÍDEOS: dicas de saúde
399     mundo  Vídeos: Terremoto provoca tsunami na Rússia, n...

                                                  link description
143  https://g1.globo.com/saude/playlist/videos-sau...         NaN
399  https://g1.globo.com/mundo/videos/playlist/vid...         NaN

In [7]:
print(f"Tamanho original do DataFrame: {len(df)} linhas")
df.dropna(subset=['description'], inplace=True)
print(f"Tamanho do Dataframe após limpeza: {len(df)} linhas")

print("\n [INFO] RESUMO DO DATAFRAME APÓS LIMPEZA:")
df.info()

Tamanho original do DataFrame: 1000 linhas
Tamanho do Dataframe após limpeza: 998 linhas

 [INFO] RESUMO DO DATAFRAME APÓS LIMPEZA:
<class 'pandas.core.frame.DataFrame'>
Index: 998 entries, 0 to 999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   categoria    998 non-null    object
 1   title        998 non-null    object
 2   link         998 non-null    object
 3   description  998 non-null    object
dtypes: object(4)
memory usage: 39.0+ KB

In [8]:
print("Criando a feature 'texto_completo' a partir da juncao de 'title' e 'description'...")

df['full_text'] = df['title'] + ' ' + df['description']

print("\n Amostra das 5 primeiras notícias com a nova coluna:")
print(df[['categoria', 'full_text']].head())

Criando a feature 'texto_completo' a partir da juncao de 'title' e 'description'...

 Amostra das 5 primeiras notícias com a nova coluna:
  categoria                                          full_text
0  economia  Mega-Sena, concurso 2.896: prêmio acumula e va...
1  economia  Preço da carne de porco perde competitividade ...
2  economia  Trump demite autoridade trabalhista dos EUA po...
3  economia  Após caso Master, governo aperta regras do Fun...
4  economia  Agência de mineração cria divisão de minerais ...

In [9]:
from sklearn.model_selection import train_test_split

X = df['full_text'] 
y = df['categoria']

X_training, X_test, y_training, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

print("--- Divisão de treino e teste concluída ---")
print(f"Tamanho do conjunto de Treino (X_training): {len(X_training)} notícias")
print(f"Tamanho do conjunto de teste (X_test): {len(X_test)} notícias")

print(f"\nCategorias para o conjunto de Treino (y_training): ")
print(y_training.value_counts())

print(f"\nCategorias para o conjunto de Teste (y_test): ")
print(y_test.value_counts())

--- Divisão de treino e teste concluída ---
Tamanho do conjunto de Treino (X_training): 798 notícias
Tamanho do conjunto de teste (X_test): 200 notícias

Categorias para o conjunto de Treino (y_training):

NameError: name 'y_treino' is not defined